$max-width: 1440px;
$min-width: 320px;
$font-family: "Roboto", "Arial", sans-serif;

$white: #fff;
$yellow: #ffce00;
$red: #df2626;
$txt-light: #fbfbfb;

$font-size-norm: 16px;
$font-weight-norm: 400;
$line-height-norm: 24px;
