$max-width: 1440px;
$min-width: 320px;
$font-family: "Roboto", "Arial", sans-serif;

$white: #fff;
$yellow: #ffce00;
$red: #df2626;
$txt-light: #fbfbfb;
$txt-dark: #000;

$font-weight-norm: 400;
$font-weight-bold: 700;

$font-size-small: 14px;
$font-size-norm: 16px;
$font-size-medium: 20px;
$font-size-big: 100px;

$size-small: 43px;
$size-medium: 64px;
$size-large: 122px;

$line-height-norm: 24px;
$line-height-medium: 28px;
$line-height-big: 110px;
