$max-width: 1440px;
$min-width: 320px;
$font-family: "Roboto", "Arial", sans-serif;

$white: #fff;
$yellow: #ffce00;
$red: #df2626;
$txt-light: #fbfbfb;
$txt-dark: #000;

$font-weight-norm: 400;
$font-weight-hover: 500;
$font-weight-bold: 700;

$font-size-small: 14px;
//16px
$font-size-norm: $font-size-small + 2px;
//20px
$font-size-medium: $font-size-small + 6px;
//47px
$font-size-mobil: $font-size-small * 3 + 5px;
//100px
$font-size-big: $font-size-small * 7 + 2px;

$size-small: 43px;
//64px
$size-medium: $size-small + 21px;
//122px
$size-large: $size-small * 2 + 36px;

$line-height-norm: 24px;
//18px
$line-height-small: $line-height-norm - 6px;
//28px
$line-height-medium: $line-height-norm + 4px;
//56px
$line-height-mobil: $line-height-medium * 2;
//110px
$line-height-big: $line-height-norm * 4 + 14px;

$screen_xs: 320px;
$screen_ss: 400px;
$screen_s: 440px;
$screen_m: 550px;
$screen_l: 750px;
$screen_xl: 1100px;
$screen_xxl: 1400px;
