@import "../../../variables";

.orderings__subtitle {
  max-width: 549px;
  margin: 50px 0 106px;
  font-weight: $font-weight-norm;
  font-size: $size-medium;
  line-height: $size-medium;
  color: $txt-dark;
}
