@import "../../../variables";

.course__title {
  margin: 0 0 60px;
  font-weight: $font-weight-norm;
  font-size: $font-size-big;
  line-height: $line-height-big;
  color: $txt-dark;
}

@media (max-width: $screen_xl) {
  .course__title {
    font-size: $font-size-big + 20px;
    margin-bottom: 594px + 60px + 60px;
  }
}

@media (max-width: $screen_l) {
  .course__title {
    font-size: $font-size-big - 20px;
  }
}

@media (max-width: $screen_m) {
  .course__title {
    font-size: $font-size-big - 40px;
  }
}

@media (max-width: $screen_s) {
  .course__title {
    margin-bottom: 300px + 60px + 60px;
    font-size: $font-size-mobil;
    line-height: $line-height-mobil;
  }
}

@media (max-width: $screen_xs) {
  .course__title {
    margin-bottom: 242px + 60px + 60px;
    font-size: $font-size-mobil;
    line-height: $line-height-mobil;
  }
}
