@import "../../../variables";

.popup__close-button {
  width: 27px;
  height: 27px;
  background: none;
  background-image: url(../.././../../Vendor/images/close-button-img.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  position: absolute;
  right: 23px;
  cursor: pointer;
  transition: opacity 0.4s linear;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media (max-width: $screen_m) {
  .popup__close-button {
    top: 22px;
  }
}
