@import "../../../variables";

.form__reg {
  margin: 0;
  max-width: 348px;
  max-height: 50px;
  font-weight: $font-weight-norm;
  font-size: $font-size-small;
  line-height: $line-height-norm;
  background-color: $white;
  color: $txt-dark;
  border: 2px solid #000;
  border-radius: 0 8px 8px 0;
  border-left: 0;
}

@media (max-width: $screen_xs) {
  .form__reg {
    min-height: 50px;
    width: 40%;
    box-sizing: border-box;
    font-size: $font-size-small - 3px;
    padding: 0;
  }
}
