@import "../../../variables";

.form__item {
  margin: 0;
  max-width: 348px;
  max-height: 50px;
  font-weight: $font-weight-norm;
  font-size: $font-size-small;
  line-height: $line-height-norm;
  background-color: $white;
  color: $txt-dark;
  border: 2px solid #000;
  border-radius: 8px 0 0 8px;
}

@media (max-width: $screen_xs) {
  .form__item {
    min-height: 50px;
    width: 54%;
    box-sizing: border-box;
    font-size: $font-size-small - 3px;
    padding: 0 20px;
  }
}
