@import "../../../variables";

.camera__feedback-txt {
  margin: 0;
  max-width: 526px;
  font-weight: $font-weight-norm;
  font-size: $size-small;
  line-height: $size-small;
}

@media (max-width: 400px) {
  .camera__feedback-txt {
    font-size: $font-size-medium + 4px;
    line-height: $line-height-medium - 2px;
  }
}
