.burgerMenu {
  display: none;
  cursor: pointer; 
  transition: opacity 0.4s linear;
}

.burgerMenu:hover {
  opacity: 0.6;
}

@media (max-width: 1100px) {
  .burgerMenu {
    display: inline;
  }
}
