@import "../../variables";

.header {
  width: 100%;
  margin: 0 auto;
  background-color: $red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 50px;
  box-sizing: border-box;
}

@media (max-width: $screen_xl) {
  .header {
    padding: 24px 40px;
  }
}

@media (max-width: $screen_xs) {
  .header {
    padding: 20px;
    align-items: flex-end;
  }
}