@import "../../../variables";

.course__img {
  max-width: 642px;
  aspect-ratio: 642 / 555;
  overflow: visible;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: $screen_xxl) {
  .course__img {
    max-width: 400px;
    aspect-ratio: 400 / 388;
  }
}

@media screen and (max-width: $screen_xl) {
  .course__img {
    max-width: 688px;
    width: 688px;
    height: 594px;
    position: absolute;
    top: 60px + 220px;
  }
}

@media (max-width: $screen_l) {
  .course__img {
    width: 500px;
  }
}

@media (max-width: $screen_m) {
  .course__img {
    width: 400px;
  }
}

@media (max-width: $screen_s) {
  .course__img {
    width: 280px;
  }
}

@media (max-width: $screen_xs) {
  .course__img {
    top: 60px + 112px;
  }
}
