@import "../../variables";

.section-name {
  margin: 0;
  text-transform: uppercase;
  font-weight: $font-weight-norm;
  font-size: ($font-size-norm + $font-size-medium) / 2;
  line-height: $line-height-medium;
  color: inherit;
}
