@import "../../variables";

.footer {
  background-color: $red;
}

@media (max-width: $screen_xl) {
  .footer {
    padding-top: 50px;
  }
}

@media (max-width: $screen_xs) {
  .footer {
    padding-top: 20px;
  }
}
