@import "../../variables";

.burger-menu {
  display: none;
  cursor: pointer;
  transition: opacity 0.4s linear;
}

.burger-menu:hover {
  opacity: 0.6;
}

@media (max-width: $screen_xl) {
  .burger-menu {
    display: inline;
  }
}
