@import "../../../variables";
@import "../../../mixins/pointer";

.nav__item {
  text-decoration: none;
  font-size: $font-size-norm;
  font-weight: $font-weight-norm;
  line-height: $line-height-norm;
  color: $txt-light;
  @include pointerBold;
}

.nav__item:hover {
  font-weight: $font-weight-bold;
}
