.popup__nav {
  display: none;
}

@media (max-width: 1100px) {
  .popup__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
}

@media (max-width: 500px) {
  .popup__nav {
    margin: 56px auto 0;
    padding-right: 60px;
    flex-direction: column;
    justify-content: flex-end;    
    gap: 12px;
  }
}