@import "../../../variables";

.popup__nav {
  display: none;
}

@media (max-width: $screen_xl) {
  .popup__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
}

@media (max-width: $screen_m) {
  .popup__nav {
    margin: 56px auto 0;
    padding-right: calc(50vw - (2 * 20px + 30px + 27px) / 2 - 111.3px / 4);
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
  }
}
