@import "../../../variables";

.burgerMenu__button {
  border: 0;
  background-color: rgba($yellow, 0);
  display: none;
}

@media (max-width: $screen_xl) {
  .burgerMenu__button {
    display: inline;
  }
}
